---
title:  Romanian Wine Grapes
layout:  default
---
<h3>Directory of Romanian Wine Grapes</h3>
  <p>Wine grapes grown in Romania are of a high quality.  Although these grapes are also grown in the surrounding countries of Hungary, Bulgaria and Moldova; the majority of the grapes are in Romania.  Look below for more information on the wine grapes of this wonderful region.</p>
  <div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-primay">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
              <a class="nav-link active show" href="#alpha" data-toggle="tab">Sort alphabetically</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#category" data-toggle="tab">Sort by category</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body ">
      <div class="tab-content">
        <div class="tab-pane active show" id="alpha">
          {% for wine_grape in site.wine_grapes %}
            <div class="wine-teaser clearfix">
              <div class="img-left teaser-image">
                <a href="{{ wine_grape.url | relative_url }}" alt="go to the detail page"><img src="{{wine_grape.image | relative_url}}" alt="photo of {{ winge_grape.title }}" /></a>
              </div>
              <div class="teaser-content">
                <h4><a href="{{ wine_grape.url | relative_url }}" alt="go to the detail page">{{ wine_grape.title }}</a></h4>
                <p>{{ wine_grape.content | truncate: 300, ',,,'}}</p>
                <br>
                <h5><red>Wine Category: <em>{{ wine_grape.category }}</em></red></h5>
                <h5><a id="source" href="{{ wine_grape.source }}" target="_blank">For source content click here</a></h5>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="tab-pane" id="category">
          {% assign sorted_grapes = site.wine_grapes | sort: "category" %}
          {% for wine_grape in sorted_grapes %}
            <div class="wine-teaser clearfix">
              <div class="img-left teaser-image">
                <a href="{{ wine_grape.url | relative_url }}" alt="go to the detail page"><img src="{{wine_grape.image | relative_url}}" alt="photo of {{ wine_grape.title }}" /></a>
              </div>
              <div class="teaser-content">
                <h4><a href="{{ wine_grape.url | relative_url }}" alt="go to the detail page">{{ wine_grape.title }}</a></h4>
                <p>{{ wine_grape.content | truncate: 300, ',,,'}}</p>
                <br>
                <h5><red>Wine Category: <em>{{wine_grape.category }}</em></red></h5>
                <h5><a id="source" href="{{ wine_grape.source }}" target="_blank">For source content click here</a></h5>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
