---
---
body {
  background-color: transparent;
  background-image: url({{"/assets/images/greek-vase.png" | relative_url }} );
}

.wrapper {
  width: 96%;
  max-width: 1080px;
}

$logo_blue: #2D93AD;
$logo_green: #88AB75;
$logo_grey: #7D7C84;
$logo_yellow: #DBD56E;
$logo_orange: #DE8F6E;
$logo_red: #835254;

header {
  background: $logo_blue;
  background-size: cover;
  background-position: center center;

}

//.layout-page img {
//  width: 10%;
//}

//.logo-image {
//  width: 46px;
//  height: 46px;
//  border-radius: 50%;
//  overflow: hidden;
//  margin-top: -6px;
// alignment: img-right;
//}

#page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

header {
  position: static; // override theme css
}

header h1 {
  text-shadow: none;
}

#banner {
  background-color: $logo_green;
  border: $logo_grey;
  position: static; // override theme css
}

#banner .button {
  background-color: $logo_blue;
  border: 0px;
  box-shadow: none;
  color: #F8F8F8;
}

//#banner #logo {
  //background-image: url({{"/assets/images/logo.png" | relative_url }});
//}

section {
  width: auto;
}

footer {
  background-color: #C7C3A7;
  padding-left: 10px;
  text-align: center;
  display: inherit;
  border-top: double;
  border-bottom: double;
}

a {
  color: #3A463F;
}

.content-left {
  @media all and (min-width: 960px){
    width: 73%;
    float: left;
    padding-right: 20px;
  }
}

.img-right {
  @media all and (min-width: 960px) {
    width: 33%;
    float: right;
    vertical-align: top;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.card .card-header {
  background: linear-gradient(60deg,$logo_red,$logo_orange,$logo_yellow)
}

.card-plain .card-body {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
}

.card-nav-tabs .card-header {
  margin-top: -11px!important;
}

.img-left {
  @media all and (min-width: 960px) {
    float: left;
    width: 33%;
  }
}

.sidebar {
  @media all and (min-width: 960px) {
    float: left;
    width: 45%;
    padding-left: 50px;
  }
}

.content {
  @media all and (min-width: 960px) {
    float: left;
    width: 55%;
  }
}

.wine-teaser {
  margin-bottom: 2.8em;
  .teaser-image {
    @media all and (min-width: 960px) {
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  .teaser-content {
    float: left;
    width: 66%;
    padding-left: 20px;
    h3 {
      margin-top: -6px; // just for alignment with the teaser image
      margin-bottom: 0;
    }
    p {
      margin: .5em 2em .5em .2em;
    }
  }
}

//.page-wrapper{
//  margin-bottom: 2.8em;
//  .page-pic {
//    @media all and (min-width: 960px) {
//      img {
//        width: 100%;
//        height: 250px;
//        object-fit: cover;
//        object-position: center center;
//      }
//    }
//  .page-map {
//    @media all and (min-width: 960px) {
//      img {
//        width: 100%;
//        height: 250px;
//        object-fit: cover;
//        object-position: center center;
//      }
//    }
//  }
//  .page-content {
//    float: left;
//    width: 66%;
//    padding-left: 20px;
//    h3 {
//      margin-top: -6px; // just for alignment with the teaser image
//      margin-bottom: 0;
//    }
//    p {
//      margin: .5em 2em .5em .2em;
//    }
//  }
//}
