---
---
body {
  background-color: transparent;
  background-image: url({{"/assets/images/greek-vase.png" | relative_url }} );
}

.page-header {
  background-color: transparent;
  background-image: url({{"/assets/images/andres-siimon-900.jpg" | relative_url }});
  background-size: cover;
  background-position: center center;
}

.wrapper {
  width: 96%;
  max-width: 1080px;
}

section {
  width: auto;
}

footer {
  background-color: #EAEAEA
}

.content-left {
  @media all and (min-width: 960px){
    width: 70%;
    float: left;
    padding-right: 30px;
  }
}

.img-right {
  @media all and (min-width: 960px) {
    width: 30%;
    float: right;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
