---
---
body {
  background-color: transparent;
  background-image: url({{"/assets/images/greek-vase.png" | relative_url }} );
}

.page-header {
  background-color: transparent;
  background-image: url({{"/assets/images/andres-siimon-900.jpg" | relative_url }});
  background-size: cover;
  background-position: center center;
}

.wrapper {
  width: 96%;
  max-width: 1080px;
}

$logo_red: #915D71;
$logo_yellow: #D1BC38;
$logo_red_comp: #612940;

#banner {
  background-color: $logo_red;
  border: $logo_red_comp;
}

#banner .button {
  background-color: $logo_yellow;
  border: $logo_yellow;;
}

section {
  width: auto;
}

footer {
  background-color: #EAEAEA;
  padding-left: 10px;
}

.content-left {
  @media all and (min-width: 960px){
    width: 70%;
    float: left;
    padding-right: 30px;
  }
}

.img-right {
  @media all and (min-width: 960px) {
    width: 30%;
    float: right;
  }
}

img {
  max-width: 100%;
  height: auto;
}

section img {
  max-width: 30%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content-left {
  @media all and (min-width: 960px) {
    width: 66%;
    float: left;
    padding-right: 20px;
  }
}

.img-left {
  @media all and (min-width: 960px) {
    width: 33%;
    float: left;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.wine-teaser {
  margin-bottom: 2.8em;
  .teaser-image {
    @media all and (min-width: 960px) {
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
  .teaser-content {
    float: left;
    width: 66%;
    padding-left: 20px;
    h2 {
      margin-top: -8px; // just for alignment with the teaser image
      margin-bottom: 0;
    }
    p {
      margin: .25em 0;
    }
  }
}
