---
layout: default
---
<div class="boxed">
  <h2 class="page-title">{{ page.title }}</h2>
</div>
<hr>
<div class="page-wrapper clearfix">
  <div class="content">
    {{ content }}
  </div>
  <aside class="sidebar">
    <div id="page-pic">
      <div class="boxed">
        <h4 class="pic-title">Photo of the grapes</h4>
      </div>
      <img src="{{page.image | relative_url}}" alt="photo of {{ page.title }}" />
    </div>
    <div id="page-map">
      <h4 class="map-title">Grapes, typically found in this region:</h4>
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ page.location | url_encode }}
            &zoom=5
            &size=600x300
            &maptype=hybrid
            &markers={{ page.location | url_encode }}
            &key=AIzaSyCi-yz2py5r6VlVoFjnenizfSv_1iPU3JE"/>
    </div>
  </aside>
</div>
